<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12  col-sm-offset-2 col-sm-10">
          <div class="page-header">
            <% contactById %>
            <h3> <%= contactById.first_name %> <%= contactById.last_name %> </h3>
            <br>
            <p><a class="btn btn-default btn-sm" href="/contacts/:contactId/edit" role="button">
              <i class ="fa fa-pencil-o fa-lg" aria-hidden="true"></i> &nbsp;
              Edit
            </a> &nbsp;
            <a class="btn btn-danger btn-sm" href="#" role="button">
              <i class ="fa fa-trash-o fa-lg" aria-hidden="true"></i> &nbsp;
              Delete
            </a></p>
          </div>
        </div>
      </div>
    </div>
      <div class="list-group">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
              <div class="list-group-item-text">
                <h3><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> Email:</h3>
                  <h5> <%= contactById.email %> </h5>
                <h3><i class ="fa fa-phone fa-fw" aria-hidden="true"></i> Main:</h3>
                  <h5><%= contactById.main_phone_number %></h5>
                <!-- <h3>Secondary:</h3>
                <h5><%= contactById.secondary %></h5>
                <h3>Tertiary:</h3>
                <h5><%= contactById.tertiary %></h5>
                <h3>Other:</h3>
                <h5><%= contactById.other %></h5> -->
                <h3><i class ="fa fa-map-marker fa-fw" aria-hidden="true"></i> Address:</h3>
                  <h5><%= contactById.unit_number %>, <%= contactById.street_number %> <%= contactById.street_name %>, <%= contactById.city %>, <%= contactById.province %>, <%= contactById.postal_code %>
              </div>
          </div>
        </div>
      </div>
  </body>
</html>
